/* For old browsers */
@supports (not(--css: variables)) {
    .supports_error {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .supports_error {
        display: flex !important;
    }
}





/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
    margin: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}



@font-face {
    font-family: 'Golos';
    src: url('../fonts/GolosText-DemiBold.eot');
    src: local('Golos Text DemiBold'), local('GolosText-DemiBold'),
        url('../fonts/GolosText-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GolosText-DemiBold.woff2') format('woff2'),
        url('../fonts/GolosText-DemiBold.woff') format('woff'),
        url('../fonts/GolosText-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Golos';
    src: url('../fonts/GolosText-Bold.eot');
    src: local('Golos Text Bold'), local('GolosText-Bold'),
        url('../fonts/GolosText-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GolosText-Bold.woff2') format('woff2'),
        url('../fonts/GolosText-Bold.woff') format('woff'),
        url('../fonts/GolosText-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Golos';
    src: url('../fonts/GolosText-Regular.eot');
    src: local('Golos Text Regular'), local('GolosText-Regular'),
        url('../fonts/GolosText-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GolosText-Regular.woff2') format('woff2'),
        url('../fonts/GolosText-Regular.woff') format('woff'),
        url('../fonts/GolosText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'DolceCaffe-Regular';
    src: local('Dolce-Caffe'), local('Dolce-Caffe'),
        url('../fonts/Dolce-Caffe.otf') format('otf'),
        url('../fonts/Dolce-Caffe.woff') format('woff'),
        url('../fonts/Dolce-Caffe.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}



/*-------------------
    Global styles
-------------------*/
:root {
    --bg: #fff;
    --scroll_width: 17px;
    --text_color: #212121;
    --text_color2: #fff;
    --font_size: 17px;
    --font_size_title: 70px;
    --font_family: 'Golos';
}


::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}

/*
html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: #ccc;
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #de041d;
}

html.custom_scroll
{
    scrollbar-color: #de041d #ccc;
    scrollbar-width: thin;
}

*/
body {
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    background: var(--bg);
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay {
    position: fixed;
    z-index: 102;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}





/*------------
    Header
------------*/
header {
    background: url(../images/header_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-top: 51px;
    padding-bottom: 588px;
    position: relative;
}
header::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 500px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../images/header_bg2.png);
}
.header_top {
    /* z-index: 103;
    padding-top: 51px;
    padding-bottom: 11px;
    margin-bottom: 22px;
    width: 100%;
    height: 79px;
    position: fixed;
    top: 0; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 260px;
}
.header_bottom-title {
    font-family: 'DolceCaffe-Regular';
    font-size: 90px;
    line-height: 105px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 64px;
    position: relative;
}
.header_bottom-title:before {
    position: absolute;
    content: "";
    width: 182px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    background: #FFD494;
}
.header_bottom-title:after {
    position: absolute;
    content: "";
    width: 82px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    top: -11px;
    background: #FFD494;
}
.header_bottom-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}
header .mob_menu_btn {
    display: none;
    width: 30px;
    height: 28px;
    margin-right: 0px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 8;
}
header .mob_menu_btn .icon {
    display: block;
    width: 20px;
    height: 18px;
}
header .close_btn {
    color: #000;    
    position: absolute;
    top: 18px;
    right: 23px;
    display: none;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
header .close_btn img {
    display: block;
    width: 28px;
}
header .menu .item {
    margin-right: 44px;
}
header .menu .item:last-child {
    margin-right: 0;
}
header .menu .item > a {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    display: flex;
    transition: color .2s linear;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}
header .menu .item > a:after {
    background-color: #fff;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;  
}
header .menu .item:hover>a:after,
header .menu .item.current-menu-item>a:after {
    width: 100%;
}
.header_links {
    display: flex;
    align-items: center;
}
.header_links a {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    margin-left: 8px;
    transition: all .4s;
    border: 1px solid #FFFFFF;
    width: 36px;
    height: 36px;
    border-radius: 50%; 
}
.header_links a:hover {
    transform: translateY(-7px);
    position: relative;
}
.header_links-mob {
    display: none;
}
.header_links a:nth-child(1) .icon {
    width: 20px;
    height: 18px;
    fill: #fff;
}
.header_links a:nth-child(2) .icon {
    width: 19px;
    height: 12px;
    fill: #fff;
}
.header_links a:nth-child(3) .icon {
    width: 18px;
    height: 18px;
    fill: #fff;
}
.header_links a:nth-child(4) .icon {
    width: 10px;
    height: 18px;
    fill: #fff;
}
.header_links a:nth-child(5) .icon {
    width: 20px;
    height: 14px;
    fill: #fff;
}




.about {
    padding-bottom: 122px;
}
.about .cont {
    display: flex;
    justify-content: space-between;
}
.about_info {
    width: calc(100% - 615px);
}
.title {
    font-family: 'DolceCaffe-Regular';
    font-size: 70px;
    line-height: 82px;
    color: #212121;    
}
.about_title {
    margin-bottom: 24px;
}
.about_text {
    font-weight: 400;
    font-size: 17px;
    line-height: 191%;
    color: #212121;
}
.text p {
    margin-bottom: 25px;
}
.text p:last-child {
    margin-bottom: 0px;
}
.about_items {
    margin-top: 24px;
    display: flex;
    margin-left: -55px;
}
.about_items > * {
    width: calc(100%/ - 55px);
    margin-left: 55px;
}
.about_item-col {
    font-weight: 600;
    font-size: 42px;
    line-height: 191%;
    color: #212121;
}
.about_item-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: #212121;
}
.about_img {
    width: 585px;
    height: 585px;
}
.about_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}





.swiper-slider {
    margin-bottom: 103px;
    position: relative;
}
.swiper-slide {
    position: relative;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    display: block;
}
.swiper-button-prev {
    width: 50px;
    height: 50px;
    background: #000000;
    opacity: 0.3;
    border-radius: 90px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.swiper-button-next {
    width: 50px;
    height: 50px;
    background: #000000;
    opacity: 0.3;
    border-radius: 90px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.swiper-button-prev .icon,
.swiper-button-next .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 80px;
}
.swiper-pagination-bullet {
    display: block;
    width: 10px;
    height: 10px;
    transition: .2s linear;
    pointer-events: auto;
    opacity: 1;
    border: 2px solid #fff;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}
.swiper-pagination-bullet-active {
    background: #fff;
}
.swiper-pagination-bullet:hover {
    background: #fff;
    border: 2px solid #fff;
}
.swiper-slide span {
    position: absolute;
    bottom: 130px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 400;
    font-size: 17px;
    line-height: 191%;
    text-align: center;
    color: #FFFFFF;
    max-width: 585px;
    width: 100%;
}



.blog,
.tour,
.school {
    margin-bottom: 120px;
}
.blog-slider,
.tour-slider,
.school-slider {
    overflow: hidden;
}
.block_head {
    margin-bottom: 49px;
}
.blog_title {
    text-align: center;
}
.blog_text {
    text-align: center;
}
.blog_item-img {
    position: relative;
    overflow: hidden;
    padding-bottom: 65.26%;
}
.blog_item-img img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.blog_item-title {
    margin-top: 20px;
    font-weight: 700;
    font-size: 22px;
    line-height: 137%;
    text-align: center;
    color: #212121;
}
.blog_item-text {
    margin-top: 16px;
    font-weight: 400;
    font-size: 15px;
    line-height: 163.5%;
    text-align: center;
    color: #212121;
}
.blog_item-link a {
    font-weight: 700;
    font-size: 14px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #8D5F1B;
    text-decoration: none;
    max-width: 292px;
    height: 70px;
    background: #FFD494;
    border-radius: 15px;
    display: block;
    margin: 34px auto 0;
}
.blog .swiper-button-prev {
    width: 50px;
    height: 50px;
    background: linear-gradient(0deg, #FFD494, #FFD494), #C5C5C5;
    opacity: 1;
    border-radius: 90px;
    position: absolute;
    top: 40%;
}
.blog .swiper-button-next {
    width: 50px;
    height: 50px;
    background: linear-gradient(0deg, #FFD494, #FFD494), #C5C5C5;
    opacity: 1;
    border-radius: 90px;
    position: absolute;
    top: 40%;
}
.blog .swiper-button-prev .icon {
    fill: #8D5F1B;
}
.blog .swiper-button-next .icon {
    fill: #8D5F1B;
}
.blog .swiper-button-next.swiper-button-disabled {
    background: #C3C3C3;
}
.blog .swiper-button-next.swiper-button-disabled .icon {
    fill: #fff;
}
.blog .swiper-button-prev.swiper-button-disabled {
    background: #C3C3C3;
}
.blog .swiper-button-prev.swiper-button-disabled .icon {
    fill: #fff;
}



.tour .swiper-button-prev {
    width: 50px;
    height: 50px;
    background: linear-gradient(0deg, #FFD494, #FFD494), #C5C5C5;
    opacity: 1;
    border-radius: 90px;
    position: absolute;
    top: 40%;
}
.tour .swiper-button-next {
    width: 50px;
    height: 50px;
    background: linear-gradient(0deg, #FFD494, #FFD494), #C5C5C5;
    opacity: 1;
    border-radius: 90px;
    position: absolute;
    top: 40%;
}
.tour .swiper-button-prev .icon {
    fill: #8D5F1B;
}
.tour .swiper-button-next .icon {
    fill: #8D5F1B;
}
.tour .swiper-button-next.swiper-button-disabled {
    background: #C3C3C3;
}
.tour .swiper-button-next.swiper-button-disabled .icon {
    fill: #fff;
}
.tour .swiper-button-prev.swiper-button-disabled {
    background: #C3C3C3;
}
.tour .swiper-button-prev.swiper-button-disabled .icon {
    fill: #fff;
}



.school .swiper-button-prev {
    width: 50px;
    height: 50px;
    background: linear-gradient(0deg, #FFD494, #FFD494), #C5C5C5;
    opacity: 1;
    border-radius: 90px;
    position: absolute;
    top: 60%;
}
.school .swiper-button-next {
    width: 50px;
    height: 50px;
    background: linear-gradient(0deg, #FFD494, #FFD494), #C5C5C5;
    opacity: 1;
    border-radius: 90px;
    position: absolute;
    top: 60%;
}
.school .swiper-button-prev .icon {
    fill: #8D5F1B;
}
.school .swiper-button-next .icon {
    fill: #8D5F1B;
}
.school .swiper-button-next.swiper-button-disabled {
    background: #C3C3C3;
}
.school .swiper-button-next.swiper-button-disabled .icon {
    fill: #fff;
}
.school .swiper-button-prev.swiper-button-disabled {
    background: #C3C3C3;
}
.school .swiper-button-prev.swiper-button-disabled .icon {
    fill: #fff;
}

.school .swiper-slide {
    padding: 32px 24px;
    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(25, 25, 28, 0.12);
    border-radius: 15px;
}
.school_item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 137%;
    color: #212121; 
    margin-bottom: 10px;
}
.school_item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 144%;
    color: #212121;
}